<footer class="flex flex-col justify-center w-full mt-auto px-8 py-12 bg-slate-700 max-md:px-5">
    <div class="flex flex-wrap gap-5 items-start border-b border-solid border-slate-600">
        <section class="flex flex-col flex-1 pt-3 leading-[140%]">
            <h3 class="text-base font-medium leading-4 text-white">Producto</h3>
            <ul class="mt-6 text-base text-slate-200">
                <li class="mt-6 hover:text-indigo-200"><a href="#">Precios</a></li>
                <li class="mt-6 hover:text-indigo-200"><a href="#">Resumen</a></li>
                <li class="mt-6 hover:text-indigo-200"><a href="#">ISO 27001</a></li>
                <li class="flex gap-2 py-3 mt-3 whitespace-nowrap hover:text-indigo-200"><a href="#">Accesibilidad</a> <span class="justify-center self-start p-1 text-xs text-indigo-800 bg-indigo-100 rounded">BETA</span></li>
            </ul>
        </section>
        <section class="flex flex-col flex-1 pt-3 leading-[140%]">
            <h3 class="text-base font-medium leading-4 text-white">Blog</h3>
            <ul class="mt-6 text-base text-slate-200">
                <li class="mt-6 hover:text-indigo-200"><a href="#">Formato derecho ARCO</a></li>
                <li class="mt-6 hover:text-indigo-200"><a href="#">Aviso de Privacidad</a></li>
            </ul>
        </section>
        <section class="flex flex-col flex-1 pt-3 leading-[140%]">
            <h3 class="text-base font-medium leading-4 text-white">Ethical Hacking</h3>
            <ul class="mt-6 text-base text-slate-200">
                <li class="mt-6 hover:text-indigo-200"><a href="#">PCI DSS</a></li>
                <li class="mt-6 hover:text-indigo-200"><a href="#">Blog</a></li>
            </ul>
        </section>
        <section class="flex flex-col flex-1 pt-3 leading-[140%]">
            <h3 class="text-base font-medium leading-4 text-white">Soporte</h3>
            <ul class="mt-6 text-base text-slate-200">
                <li class="mt-6 hover:text-indigo-200"><a href="#">Contáctanos</a></li>
                <li class="mt-6 hover:text-indigo-200"><a href="#">Clientes</a></li>
            </ul>
        </section>
        <section class="flex flex-col flex-1 pt-3 leading-[140%]">
            <h3 class="text-base font-medium leading-4 text-white">Compañía</h3>
            <ul class="mt-6 text-base text-slate-200">
                <li class="mt-6 hover:text-indigo-200"><a href="#">Acerca de nosotros</a></li>
                <li class="mt-6 hover:text-indigo-200"><a href="#">Eventos</a></li>
                <li class="flex gap-2 py-3 pr-2.5 mt-3 hover:text-indigo-200"><a href="#">Agenda un Demo</a><img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5d51cc657eecdad7fe68144aaef73e698b935f761396bf3a170f435ac2deea8b?apiKey=abe83be9107b46259443374e6b3113c9" class="shrink-0 w-6 aspect-square" alt="Demo Icon"></li>
            </ul>
        </section>
    </div>
    <div class="flex flex-wrap gap-5 items-center py-6">
        <p class="self-stretch my-auto text-base leading-6 text-slate-200">CSLProCer 2024</p>
        <nav class="flex flex-1 gap-5 justify-between self-stretch py-3 text-base leading-6 text-slate-200 max-md:flex-wrap">
            <a href="#" class="hover:text-indigo-200">Términos y Condiciones</a>
            <a href="#" class="max-md:max-w-full hover:text-indigo-200">Administrar Cookies</a>
        </nav>
        <div class="flex gap-4 justify-center self-stretch my-auto">
            <a href="#" class="hover:opacity-75"><img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/969ade189a55ea8f1f2803fe06be080657af83168a0fedfb79076478941bb5b1?apiKey=abe83be9107b46259443374e6b3113c9" class="shrink-0 w-6 aspect-square" alt="Icon 1"></a>
            <a href="#" class="hover:opacity-75"><img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2c0261e1f93a008dbf2d51b49bca7fc22e4c27588ee3d1a831492dfe3e66d91b?apiKey=abe83be9107b46259443374e6b3113c9" class="shrink-0 w-6 aspect-square" alt="Icon 2"></a>
            <a href="#" class="hover:opacity-75"><img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4862db61803cc74ce973a645c1b3704095fe3a9dec9980e282bb8d47e9f43a79?apiKey=abe83be9107b46259443374e6b3113c9" class="shrink-0 w-6 aspect-square" alt="Icon 3"></a>
            <a href="#" class="hover:opacity-75"><img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5fb7e9e1344680ccaedff749b599dd8682e7dcad44f5bfce7f9f7067f70c73b7?apiKey=abe83be9107b46259443374e6b3113c9" class="shrink-0 w-6 aspect-square" alt="Icon 4"></a>
            <a href="#" class="hover:opacity-75"><img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ca129b146cfc1f9900da0f524b30fff865f3d194f13b922addf923247f82cc31?apiKey=abe83be9107b46259443374e6b3113c9" class="shrink-0 w-6 aspect-square" alt="Icon 5"></a>
        </div>
    </div>
</footer>
