<main class="flex flex-col p-8 w-full max-md:px-5 max-md:max-w-full">
    <section class="text-center">
        <h2 class="text-xl font-medium leading-6 text-indigo-400 max-md:max-w-full">Certíficate más rápido</h2>
        <p class="mt-2 text-6xl font-extrabold text-white leading-[66px] max-md:max-w-full max-md:text-4xl max-md:leading-[49px]">Incrementa la <span class="text-indigo-400">seguridad</span> de tu empresa y obtén certificaciones de forma simple</p>
    </section>
    <section class="mt-8 text-center">
        <p class="text-lg leading-7 text-slate-300 max-md:max-w-full">Certifícate 10 veces más rápido en normativas como ISO 27001 y PCI DSS con nuestra plataforma. Cumple y demuestra tu seguridad para cerrar negocios con grandes corporativos.</p>
        <div class="flex gap-4 justify-center self-center mt-8 text-xl font-medium tracking-wide leading-6 text-white max-md:flex-wrap">
            <button class="btn-schedule-demo"><span>Agendar Demo</span></button>
            <button class="btn-info"><span>Más información</span></button>
        </div>
    </section>
    <section class="flex flex-col justify-center self-center p-3.5 mt-5 max-w-full w-[284px] max-md:mt-10">
        <img loading="lazy" src="../public/shapes.png" style="height: 284px; width: 284px;" class="shrink-0 w-6 aspect-square" alt="Icon 1">
    </section>
</main>

<section class="flex flex-col self-stretch p-20 text-2xl font-bold leading-7 text-slate-300 max-md:px-5">
    <header class="text-center max-md:max-w-full">
        <h2 class="h6-new">Cientos de compañías latinoamericanas confían en CSLProCer</h2>
    </header>
    <div class="flex justify-center items-center px-16 mt-20 max-md:px-5 max-md:mt-10 max-md:max-w-full">
        <div class="flex gap-5 justify-between w-full max-w-[1028px] max-md:flex-wrap max-md:max-w-full">
            <figure class="flex gap-2 justify-center whitespace-nowrap">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f1f1890380d57632bbab19301806da6abd3b1a6a9633cdbbba267bb89212d907?apiKey=abe83be9107b46259443374e6b3113c9&" alt="SmartFinder logo" class="shrink-0 aspect-[1.03] w-[33px]" />
                <figcaption class="my-auto">SmartFinder</figcaption>
            </figure>
            <figure class="flex gap-2 justify-center whitespace-nowrap">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/455f9881b879240ebf697939eef40d7dff2e4dbf9dd5f5ce991ac26a83830878?apiKey=abe83be9107b46259443374e6b3113c9&" alt="Zoomerr logo" class="shrink-0 w-8 aspect-square fill-slate-300" />
                <figcaption class="my-auto">Zoomerr</figcaption>
            </figure>
            <figure class="flex gap-2 justify-center whitespace-nowrap">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e6d81d3eff9a9b8072319293ca79089437f2e1eff03fce3e41940485194fd38a?apiKey=abe83be9107b46259443374e6b3113c9&" alt="SHELLS logo" class="shrink-0 aspect-[0.93] fill-slate-300 w-[30px]" />
                <figcaption class="my-auto">SHELLS</figcaption>
            </figure>
            <figure class="flex gap-2 justify-center whitespace-nowrap">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/06c5aad0e4246ab29b759fe5c8ac2f6a030c0ee322d90e7060d56d4052c8014d?apiKey=abe83be9107b46259443374e6b3113c9&" alt="WAVES logo" class="shrink-0 aspect-[0.66] fill-slate-300 w-[21px]" />
                <figcaption class="my-auto">WAVES</figcaption>
            </figure>
            <figure class="flex gap-2 justify-center">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/750c1bd7fb260fc0a9d84b16632d050b459ef75810efd22cd20b6bace19b9a73?apiKey=abe83be9107b46259443374e6b3113c9&" alt="Art Venue logo" class="shrink-0 w-14 aspect-[1.75]" />
                <figcaption class="my-auto">Art <span class="text-slate-300">Venue</span></figcaption>
            </figure>
        </div>
    </div>
</section>

<section class="flex flex-col text-6xl font-extrabold text-center leading-[61.6px] max-md:text-4xl ">
    <h2 class="w-full text-white max-md:max-w-full max-md:text-4xl">Únete a nosotros</h2>
    <h3 class="mt-2 w-full text-indigo-400 max-md:max-w-full max-md:text-4xl">¿Listo para Comenzar?</h3>
    <p class="mt-8 w-full text-lg leading-7 text-slate-300 max-md:max-w-full">La plataforma de seguridad y cumplimiento en la que confían más de 5000 clientes.</p>
</section>

<section class="self-stretch p-20 max-md:px-5">
    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
      <div class="flex flex-col w-5/12 max-md:ml-0 max-md:w-full">
        <header class="flex flex-col self-stretch my-auto text-5xl font-extrabold leading-tight max-md:mt-10 max-md:max-w-full">
          <h1 class="text-white max-md:max-w-full text-6xl max-md:text-5xl">
            Potencial de crecimiento <br> <span class="text-indigo-400">ilimitado.</span>
          </h1>
          <p class="mt-8 text-base leading-6 text-slate-300 max-md:max-w-full max-md:text-sm">
            CSLProCer automatiza hasta el 80% del trabajo necesario para obtener la norma ISO 27001, lo que le ayuda a lograr el cumplimiento en la mitad del tiempo y acelerar su camino hacia el crecimiento internacional. Nuestro seguimiento del progreso y las vistas de pruebas y controles se superponen con estándares complementarios como SOC 2 y GDPR que lo acercan al cumplimiento de múltiples estándares por una fracción del esfuerzo.
          </p>
        </header>
      </div>
      <div class="flex flex-col ml-5 w-7/12 max-md:ml-0 max-md:w-full">
        <div class="flex flex-col grow justify-center max-md:mt-10 max-md:max-w-full">
          <div class="max-md:pl-5 max-md:max-w-full">
            <div class="flex gap-5 max-md:flex-col max-md:gap-5">
              <figure class="flex flex-col w-1/2 max-md:w-full aspect-[4/3]">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/08d930b7462c86b92bcede82249d72d26a02ef90756b6bfd1833b7d9773cc5df?apiKey=abe83be9107b46259443374e6b3113c9&" alt="First example image" class="w-full h-full object-cover shadow-xl" />
              </figure>
              <figure class="flex flex-col w-1/2 max-md:w-full aspect-[4/3]">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2738c48d81dbd53c70af961d3de4261f60b061342226a527ba60b99bffc6e4cc?apiKey=abe83be9107b46259443374e6b3113c9&" alt="Second example image" class="w-full h-full object-cover shadow-xl" />
              </figure>
            </div>
          </div>
          <div class="mt-6 max-md:pr-5 max-md:max-w-full">
            <div class="flex gap-5 max-md:flex-col max-md:gap-5">
              <figure class="flex flex-col w-1/3 max-md:w-full aspect-[4/3]">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/0ac53bfeaa48a589cfbea408183ac7cca1969b3f79b2d37439718c28962a0e3b?apiKey=abe83be9107b46259443374e6b3113c9&" alt="Third example image" class="w-full h-full object-cover shadow-xl" />
              </figure>
              <figure class="flex flex-col w-2/3 max-md:w-full aspect-[16/9]">
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a39dc425ff111e19c1fba10e34dc19ec576d82e618327498e06b305e0f26a6bb?apiKey=abe83be9107b46259443374e6b3113c9&" alt="Fourth example image" class="w-full h-full object-cover shadow-xl" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>